#name {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 100px;
    color: #ffffff;
    padding: 5px;
    height: 50px;
    width:250px;
    top: 0px;
    margin-top: 0px;
    position:fixed;
}
#left,#middle {
	float:right;
	font-family: 'Georgia', Times, 'Times New Roman',serif;
	border-right: 1px solid #4aaaa5;
	color:#4aaaa5;
	padding:5px;
}
#right{
	float:right;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin-right:50px;
	color:#4aaaa5;
	padding:5px;
}
p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
img{
	float:left;
	padding:10px;
}
aside {
    height: 200px;
    padding:3px;
    background: #fff;
    border: 1px solid #eee;
    right:40px;
    top:30px;
    color: #777;
    position: absolute;
    border: 1px solid #777;
}
header{
	width:1020px;
	height:52px;
	border-bottom: solid #777 1px;
}
body{
	width:1020px;
	height:500px;
}
div{
	margin-left: 100px;
	float:left;
	margin-right: 20px;
	padding:10px;
	height: 428px;
	border:solid 1px;
	background-color: #ffffff;
}
section{
    padding: 0px;
    height: 450px;
    clear: both;
    width: 695px;
    margin-top: 28px;
}
main{
	width:1020px;
	height:500px;
	background: url(../images/cheap_diagonal_fabric.png);
	position:fixed;
}	
h1 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color:#777;
}
footer{
	width: 1020px;
    height: 40px;
    border-top: solid 10px #777;
    background-color: #666;
    text-align:center;
    color:#ffffff;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    position:absolute;
}

@media only screen and (max-width: 960px){
	#name{
		position:fixed;
	}
	main{
		position:fixed;
	}
	div{
		width:500px;
	}
	p{
		font-size:13px;
	}
	aside{
		right:100px;
	}
	footer{
		width:960px;
	    position:absolute;
	}

	header{
		width:960px;
	}
}

@media only screen and (max-width: 768px){
	header{
		position:static;
		width:768px;
	}
	main{
		position:fixed;
	}
	div{
		width:630px;
		height:300px;
		margin-left:50px;
	}
	aside{
		position:absolute;
		left:0px;
		top:365px;
		width:644px;
		margin-left:50px;
		height:100px;
	}
	p{
		font-size:13px;
	}
	#github{
		position:absolute;
		bottom:0px;
	}
	#linkedin{
		position:absolute;
		bottom:0px;
		left:75px;
	}
	#stacked{
		position:absolute;
		bottom:0px;
		left:150px;
	}
	#connect{
		position:relative;
		bottom:20px;
	}

	hr.connectline{
		position:relative;
		bottom:30px;
	}
	footer{
		width:768px;
		position:absolute;
	}
}

@media only screen and (max-width: 640px){
	header{
		position:static;
		width:640px;
		height:30px;
		margin:0px;
	}
	#name{
		width:640px;
		margin:0px;
		text-align:center;
		padding:0px;
		position:fixed;
	}
	#left{
	    position: relative;
	    right: 410px;
	    bottom: 15px;
	    color: #777;
	    width: 212px;
	    text-align: center;
	    margin: 0px;
	}
	#middle{
	    position: relative;
	    top: 35px;
	    width: 210px;  
	    color: #777;
	    text-align: center;
	}
	#right{
	    position: relative;
	    color: #777;
	    top: 35px;
	    width: 210px;
	    text-align: center;
	    margin-right: 0px;
		}
	main{
		position:absolute;
		top:100px;
	}
	div{
		width:500px;
	}
	aside{
		width:515px;
	}
	footer{
		width:640px;
		position:absolute;
	}
	p{
		font-size:10px;
	}
}